.actions {
  margin: 20px 0;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  label {
    margin-right: 8px;
  }
}

.loading{
  padding: 20px;
  text-align: center;
}

.table {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  margin: 20px 0;
  border-spacing: 0;
  overflow: hidden;
  border-bottom: 3px solid #DA291C;
  thead {
    background-color: #DA291C;
    color: white;
    th {
      text-align: left;
      padding: 8px;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: #dbdbdb;
        cursor: pointer;
      }
      &:nth-child(even) {
        background-color: #fafafa;
      }
      td {
        border-bottom: 1px solid #dbdbdb;
        padding: 8px;
        text-transform: capitalize;
      }
    }
  }
}

.cardMain{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  padding: 12px 40px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

.card{
  min-height: 80vh;
  padding: 12px 40px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  h1{
    font-size: 20px;
    border-bottom: 1px solid #dedede;
    margin: 0 -40px;
    padding: 0 40px 12px;
  }
  .profile{
    display: flex;
    padding: 12px 0;
    .content{
      width: 70%;
    }
    .photo{
      width: 30%;
    }
  }
}

.btn{
  display: inline-block;
  padding: 8px;
  background-color: #fafafa;
  border: 1px solid gray;
  border-radius: 4px;
  &:hover{
    background-color: #e9e6e6;
    cursor: pointer;
  }
}

.category{
  width: 20%;
  h2{
    color: #DA291C;
  }
  a{
    display: block;
    margin: 12px 0;
    &:hover{
      text-decoration: underline;
    }
    &.linkDisabled{
      color: #a0a0a0;
      text-decoration: none;
      cursor: default;
    }
  }
}

