.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  .brand {
    padding: 8px;
    color: white;
  }
  nav {
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      a {
        color: white;
        padding: 8px;
        display: block;
      }
    }
  }
}
